#### Let's consider the following sets:
- Ω= {1,2,3,4,5,6,7,8,9,10,11,12}
- A={2,4,6,8,10}
- B={3,8,11,12}
- C={2,3,6,8,9,11}

In [166]:
Ω= {1,2,3,4,5,6,7,8,9,10,11,12}
A={2,4,6,8,10}
B={3,8,11,12}
C={2,3,6,8,9,11}

# $ A \cap B$  A intersection B
intersection_AB= A.intersection(B)
print ("Intersection of A and B:",intersection_AB)

Intersection of A and B: {8}

In [167]:
#$ A \cup C$ A union C
union_AC=A.union(C)
print ("Union of A and C:", union_AC)

Union of A and C: {2, 3, 4, 6, 8, 9, 10, 11}

In [168]:
#Ac Absolute complement of A
absolute_complement_A=Ω-A
print ("The absolute complement of A:", absolute_complement_A)

The absolute complement of A: {1, 3, 5, 7, 9, 11, 12}

In [169]:
# Ab Absolute complement of B
absolute_complement_B=Ω-B
print ("The absolute complement of B:", absolute_complement_B)

The absolute complement of B: {1, 2, 4, 5, 6, 7, 9, 10}

In [170]:
#(A∪B)c Absolute complement of A union B
union_AB=A.union(B)
print("Union of A and B:", union_AB)
absolute_complement_AB=Ω-union_AB
print("The absolute complement of A union B:", absolute_complement_AB)

Union of A and B: {2, 3, 4, 6, 8, 10, 11, 12}
The absolute complement of A union B: {1, 5, 9, 7}

In [171]:
#B∩C′ Absolute complement of B intersection C
intersection_BC=B.intersection(C)
print ("B intersection C:", intersection_BC)
absolute_complement_BC=Ω-intersection_BC
print ("The absolute complement of B intersection C:", absolute_complement_BC)

B intersection C: {8, 11, 3}
The absolute complement of B intersection C: {1, 2, 4, 5, 6, 7, 9, 10, 12}

In [172]:
#A\B Realtive complement of B in A
relative_complement_AB=A.difference(B)
print ("The relative complement of B in A:", relative_complement_AB)

The relative complement of B in A: {2, 10, 4, 6}

In [173]:
#C\(B\A) Relative complement of C in the relative complement of A in B
relative_complement_BA= B.difference(A)
print ("The relative complement of A in B:", relative_complement_BA)
relative_complement_C_BA=C.difference(relative_complement_BA)
print("The relative complement:", relative_complement_C_BA)

The relative complement of A in B: {11, 3, 12}
The relative complement: {8, 9, 2, 6}

In [174]:
#(C∩A)∪(C∖B) Union between C intersection A and relative complement of B in C
intersection_CA=C.intersection(A)
print("C intersection A:", intersection_CA)
relative_complement_CB=C.difference(B)
print ("The relative complement of B in C:", relative_complement_CB)
union=intersection_CA.union(relative_complement_CB)
print("The union between C intersection A and relative complement of B in C:", union)

C intersection A: {8, 2, 6}
The relative complement of B in C: {9, 2, 6}
The union between C intersection A and relative complement of B in C: {2, 6, 8, 9}

#### Verifying Answers

In [175]:
# Verify that the A intersection B is 8
intersection_AB=={8}

True

In [176]:
# Verify that A union C is {2, 3, 4, 6, 8, 9, 10, 11}
union_AC=={2, 3, 4, 6, 8, 9, 10, 11}

True

In [177]:
# Verify that the absolute complement of A in{1, 3, 5, 7, 9, 11, 12}
absolute_complement_A=={1, 3, 5, 7, 9, 11, 12}

True

In [178]:
# verify that the absolute complement of B is {1, 2, 4, 5, 6, 7, 9, 10}
absolute_complement_B=={1, 2, 4, 5, 6, 7, 9, 10}

True

In [179]:
# Verify that the absolute complement of A union B in {1, 5, 9, 7}
absolute_complement_AB=={1, 5, 9, 7}

True

In [180]:
# Verify that the absolute complement of B intersection C is {1, 2, 4, 5, 6, 7, 9, 10, 12}
absolute_complement_BC=={1, 2, 4, 5, 6, 7, 9, 10, 12}

True

In [181]:
# Verify that the relative complement of B in A is {2, 10, 4, 6}
relative_complement_AB=={2, 10, 4, 6}

True

In [182]:
# Verify that the relative complement of C in the relative complement of A in B is {8, 9, 2, 6}
relative_complement_C_BA=={8, 9, 2, 6}

True

In [183]:
# Verify that the union between C intersection A and relative complement of B in C is {2, 6, 8, 9}
union=={2, 6, 8, 9}

True

#### Inclusion-Exclusion Principle

In [184]:
#∣A∪B∪C∣=∣A∣+∣B∣+∣C∣−∣A∩B∣−∣A∩C∣−∣B∩C∣+∣A∩B∩C|
#Counting the elements on the left hand side comparing to the elements of the right hand side
#len() is used to count the number of elements
count_1=A.union(B).union(C)
left_hand_side=len(count_1)
print ("Number of elements of the right hand side:", left_hand_side)

Number of elements of the right hand side: 9

In [185]:
#summing the number of elements on the left hand side
count_A=len(A)
print("The cardinality of A:", count_A)

The cardinality of A: 5

In [186]:
count_B=len(B)
print("The cardinality of B:", count_B)

The cardinality of B: 4

In [187]:
count_C=len(C)
print("The cardinality of C:", count_C)

The cardinality of C: 6

In [188]:
#|A∩B∣ gives the cardiality of A intersection B
count_AB=len(A.intersection(B))
print("The cardinality of A intersection B:", count_AB)

The cardinality of A intersection B: 1

In [189]:
#|A∩C∣ gives the cardiality of A intersection C
count_AC=len(A.intersection(C))
print("The cardinality of A intersection C:", count_AC)

The cardinality of A intersection C: 3

In [190]:
#|B∩C∣ gives the cardiality of B intersection C
count_BC=len(B.intersection(C))
print("The cardinality of B intersection C:", count_BC)

The cardinality of B intersection C: 3

In [191]:
#|A∩B∩C| gives the cardinality of the intersection of A,B,C
count_ABC=len(A.intersection(B).intersection(C))
print("The cardinality of intersection A,B,C:", count_ABC)

The cardinality of intersection A,B,C: 1

In [192]:
#cardinality of the right hand side equation
right_hand_side=count_A+count_B+count_C-count_AB-count_AC-count_BC+count_ABC
print("The cardinality of the right hand side equation:", right_hand_side)

The cardinality of the right hand side equation: 9

In [193]:
#verifying the cardinality of the left hand side equation and right hand side equation
left_hand_side==right_hand_side

True

In [194]:
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])
#Updating Eve's list after her tutrle passed away
eve_update=Eve.remove("Turtle")
print ("Eve's updated pets list:" , Eve)

Eve's updated pets list: {'Rabbit', 'Goldfish'}

In [195]:
#Updating Nina's pets list after agreeing to care for Mary's pets
nina_updated=Nina.update(Mary)
print("Nina's updated pets list:", Nina)

Nina's updated pets list: {'Donkey', 'Parrot', 'Chinchilla', 'Dog', 'Cat', 'Rabbit', 'Horse', 'Goldfish', 'Chicken'}

In [196]:
#clearing Mary's list
mary_clear=Mary.clear()
print("Mary's cleared pets list:", Mary)

Mary's cleared pets list: set()

In [197]:
##counting the number of pets Nina is taking care of
count_species=len(Nina)
print (f"Nina is looking after {count_species} species")

Nina is looking after 9 species

In [198]:
#Nina gives away some pets of the same species to Eve
same_species=Nina.intersection(Eve)
print ("The same species between Nina and Eve:",same_species)

The same species between Nina and Eve: {'Rabbit', 'Goldfish'}

In [199]:
#how many animals is Nina left with
Left_animals=Nina.difference_update(Eve)
count_pets_left=len(Nina)
print ("The number of animals left:", count_pets_left)

The number of animals left: 7

#### European Countries

In [255]:
import pandas as pd
europe=pd.read_excel("Europe_and_EU.xlsx", sheet_name="Europe")
eu=pd.read_excel("Europe_and_EU.xlsx", sheet_name="EU")

In [256]:
europe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 11 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Rank                                49 non-null     float64
 1   Country                             57 non-null     object
 2   Population                          57 non-null     int64
 3   % of population                     57 non-null     float64
 4   Average relative annual growth (%)  57 non-null     float64
 5   Average absolute annual growth      57 non-null     int64
 6   Estimated doubling time (Years)     57 non-null     object
 7   Official figure (where available)   57 non-null     int64
 8   Date of last figure                 57 non-null     object
 9   Regional grouping                   38 non-null     object
 10  Source                              57 non-null     object
dtypes: float64(3), int64(3), object(5)
memory usage: 5.0+ KB

In [257]:
eu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Rank                            28 non-null     int64
 1   Country                         28 non-null     object
 2   2017 population                 28 non-null     int64
 3   % of pop.                       28 non-null     float64
 4   Average relative annual growth  28 non-null     float64
 5   Average absolute annual growth  28 non-null     int64
 6   Official figure                 28 non-null     int64
 7   Date of last figure             28 non-null     datetime64[ns]
 8   Source                          28 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 2.1+ KB

In [258]:
#removing whitespaces from the column "country" in the dataframes
europe["Country"]=europe["Country"].str.strip()
eu["Country"]=eu["Country"].str.strip()

In [259]:
europe.head(3)

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [260]:
eu.head(3)

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate

In [261]:
#converting the column "country" in each dataframe to sets
set_europe=set(europe["Country"])
set_eu=set(eu["Country"])

In [262]:
#Check to confirm that the EU countries are a subset of countries in Europe
eu_subset_europe=set_eu.issubset(set_europe)
print(eu_subset_europe)

True

In [263]:
#Find the set of countries that are in Europe but not the EU
non_eu_countries=set_europe.difference(set_eu)
print(non_eu_countries)

{'Belarus', 'Liechtenstein', 'Turkey', 'Monaco', 'Svalbard (Norway)', 'Georgia', 'Albania', 'Montenegro', 'Serbia', 'Moldova', 'Kosovo', 'Faroe Islands (Denmark)', 'Åland Islands (Finland)', 'Gibraltar (UK)', 'Jersey (UK)', 'Macedonia', 'Andorra', 'Norway', 'Ukraine', 'Iceland', 'Russia', 'Switzerland', 'San Marino', 'Isle of Man (UK)', 'Bosnia and Herzegovina', 'Vatican City', 'Armenia', 'Azerbaijan', 'Guernsey (UK)'}